body{
    margin: 0;
    background-color: #fbf4ed;
}
section{
    display: grid;
    grid-template-rows: 120px 1fr;
}
header{
    display: flex;
    padding:10px;
    font-size: 32px;
    background-color: #800000;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
   
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.playersNames{
    
    width: 200px;
    border-radius: 10px;
    background-color: #fbf4ed;
    font-weight: 600;
   
}
.playersNames button{ 
    
    text-transform: uppercase;
    background-color: #fbf4ed;
    border: 3px solid #982B1C;
    border-radius: 8px;
    width: 70px;
    padding: 10px;
    font-weight: 600;
   
    

}
.playersNames button:hover{
    background-color: #982B1C;
    color: white;
    cursor: pointer;
}
.playersNames div{
   display: flex;
   align-items: center;
   justify-content: center;
   justify-items: center;
    padding: 10px;
    gap: 20px;
 
}
.playersNames form{
display: flex;
align-items: center;
justify-content: center;


}
.playersNames input[type="text"]{
padding: 10px;
border-radius: 6px;
border: none;
background-color: #feeddd;


}

.playersNames input[type="text"]:focus{
    outline: 2px solid #982B1C;
    
}
.hidden{
display: flex;
flex-direction: column;
gap: 10px;

}

#turns{
    text-transform: uppercase;
    margin: 20px;
    font-size: 24px;
}
.red{
    color: red;
    
}
.blue{
    color: blue;
   
}

.buttons {
text-transform: uppercase;
    margin: 20px;
    margin-left: 0px;
    background-color: #fbf4ed;
    border: 3px solid #982B1C;
    border-radius: 8px;
    width: 130px;
    padding: 10px;
    font-weight: 600;
    
}
.buttons:hover{
    background-color: #982B1C;
    color: white;
    cursor: pointer;
}


#board {
    margin: 20px;
    justify-self: center;
    align-self: center;
}

.cellWrap {
    display: grid; /* Apply the grid layout to cellWrap */
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 3px solid black;
}

.cell:hover {
    background-color: #ffcccc;
}

.cell {
    border: 3px solid black;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


.winner{
height: 150px;
width: 150px;
border-radius: 10px;
background-color: #fbf4ed;
overflow: hidden;
}

.winner h2{
    text-align: center;
    font-size: 24px;
}

.winner input[type="button"]{
    text-transform: uppercase;
    background-color: #fbf4ed;
    border: 3px solid #982B1C;
    border-radius: 8px;
    width: 100px;
    padding: 10px;
}

.winner input[type="button"]:hover{
    background-color: #982B1C;
    color: white;
    cursor: pointer;
    align-self: center;
}

.winner div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.winner::backdrop{
    background-color: rgba(0,0,0,0.5);
    display: flex;

}

.playersNames::backdrop{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}